<footer class="bg-dark text-light py-2">
    <div class="row mt-0.5">
        
        <div class="col-md-3 ps-md-4 ">
            <h2>About Us</h2>
            <p class="text-justify">Discover unforgettable journeys with Trippy - your ultimate travel companion!</p>
        </div>
        <div class="f-info col-md-7 bg-dark">

            <div class="f-info-socials">
                <a href="https://www.facebook.com/?ref=homescreenpwa" target="_blank"><i class="fa-brands fa-square-facebook"></i></a>
                <a href="https://www.instagram.com/yuvraj.suri/" target="_blank"><i class="fa-brands fa-square-instagram"></i></a>
                <a href="https://www.linkedin.com/in/yuvraj-suri-5b8865220/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>

            </div>

            <div class="f-info-brand">&copy; trippy Private Limited</div>

            <div class="f-info-links ">
                <a href="/privacy" class="text-light">Privacy</a> 
            </div>
            <div class="f-info-links ">
                <a href="/terms" class="text-light">Terms</a>  
            </div>
        </div>
        <div  class="col-md-2 text-end pe-md-4">
            <h3>Contact Us</h3>
                    <h5><a href="mailto:yuvrajsuri32@gmail.com" class="text-blue">yuvrajsuri32@gmail.com</a></h5>
        </div>
    </div>
</footer>