<style>
.search-btn{
  background-color: #fe424d;
  color: white;
  border-radius: 25px;
  padding: 0 1rem 0 1rem;
}
.search-btn:hover{
  background-color: #fe424d;
  color: white;
}
.search-btn i{
  display: inline;
  margin-right: 0.5rem;
}
.search-inp{
  border-radius: 25px;
  padding: 0.5rem 1rem 0.5rem 4rem;
}
</style>

<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
    <div class="container-fluid">
      <!-- <a class="navbar-brand logo" href="/listings"><img src="https://i.pinimg.com/originals/e7/80/8a/e7808ab39f4cec8e88c181527deda51d.png" alt="Your Logo" height="70px" width="120px"></a> -->
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="/">
            <button class="btn nav-btn">Explore</button>
          </a>
        </div>

        <div class="navbar-nav ms-auto">
          <form class="d-flex" role="search">
            <input class="form-control me-2 search-inp" type="search" placeholder="" >
            <button class="btn search-btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i>&nbsp;Search</button>
          </form>
        </div>


        
          
          <a class="nav-link" href="/signup">
            <button class="btn nav-btn">SignUp</button>
          </a>
          &nbsp;&nbsp;
          <a class="nav-link" href="/login">
            <button class="btn nav-btn">LoginIn</button>
          </a>

          
          <a class="nav-link" href="/logout">
            <button class="btn nav-btn">LogOut</button>
          </a>
          
        </div>
      </div>
    </div>
  </nav>