<% layout("/layouts/boilerplate") %>
<style>
    h5{
        text-align: justify;
    }
</style>

<body>
    <div class="row mt-3">
        <div class="col-8 offset-3">
            <h1>
                <b>Privacy-policy</b>
            </h1>
            <div class="mt-3">
                <img src="https://media.istockphoto.com/id/1364971537/photo/privacy-policy-notice-and-legal-agreement.jpg?s=612x612&w=0&k=20&c=8IENM8HehuIOnYMH5uN4E1OKY7aU3qoRZ7OjeeHi0rI=" alt="privacy image" >
            </div>
            <div class="mt-3 mb-3">
                <h5>At Trippy, we prioritize the privacy and security of our users. Our Privacy Policy outlines how we collect, use, disclose, and protect your personal information when you use our website. We are committed to transparency and ensuring that your data is handled responsibly. By using our platform, you agree to the terms outlined in our Privacy Policy.</h5>
            </div>
        </div>
    </div>
</body>