<% layout("/layouts/boilerplate") %>

<style>
    h5{
        text-align: justify;
    }
</style>

<body>
    <div class="row mt-3">
        <div class="col-8 offset-3">
            <h1>
                <b>Terms and conditions</b>
            </h1>
            <div class="mt-3">
                <img src="https://img.freepik.com/premium-photo/terms-conditions-businessman-reviewing-terms-conditions-agreement-office-terms-conditions_36325-3005.jpg" alt="terms image">
            </div>
            <div class="mt-3 mb-3">
                <h5 class="center">By accessing or using the Trippy website, you agree to comply with our Terms of Service. These terms govern your use of our platform and outline your rights and responsibilities as a user. It's important to review and understand these terms before using our services. If you have any questions or concerns about our Privacy Policy or Terms of Service, please contact us.</h5>
            </div>
        </div>
    </div>
</body>