body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
    
}

.container{
    flex: 1;
}

/* footer */
.f-info-links a{
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover{
    text-decoration: underline;    
}

.f-info-links , .f-info-socials, .f-info-brand{
    width: 100%;
    display:flex;
    align-items:center;
    justify-content:center;
}

.f-info-socials i{
    font-size: 1.2rem;
    margin-right: 1rem;
}

.f-info{
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

.fa-square-facebook{
    color: #04c0fe;
}
.fa-square-instagram{
    color: #E4405F;
}
.fa-linkedin{
    color: #0077B5;
}

/* Edit page */
.edit-btn{
    background-color:#fe424d !important;
    border: none !important;
}

.btns{
    display: flex;
    /* height: 40px; */
}

/* LOGIN PAGE */

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Apply the animation to the form */
.animated-form {
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes glow {
    0% {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Initial shadow */
    }
    50% {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.7); /* Intermediate shadow */
    }
    100% {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Final shadow */
    }
}

/* Apply the animation to the card */
.glowing-card {
    animation: glow 1.5s infinite alternate; /* Apply the glow animation */
}




